<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018502214267-80f7k1ds6tt2t9c8r8tlc4ua2qgtmfkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018502214267-80f7k1ds6tt2t9c8r8tlc4ua2qgtmfkj</string>
	<key>API_KEY</key>
	<string>AIzaSyDLJYyrnJQX04xz-KSLpBhjnUyWWdExYKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1018502214267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todordimitrov.LeoNFT</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestore-56764</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestore-56764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018502214267:ios:b427a7f8610a12a203a8de</string>
</dict>
</plist>
